* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  background-image: radial-gradient(
      ellipse at 50% 50%,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.3) 85%
    ),
    url("../img/pexels-pixabay-45230.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Dosis", sans-serif;
}
/* Class-Selectors ******************************************************************************/
.logo {
  max-width: 200px;
  margin-top: 50px;
  margin-bottom: 55px;

  animation: move-plane-horizontal 7s ease-in-out 0s 1 both,
    move-plane-vertical 6s linear 7s infinite;
}

.header {
  text-align: center;
}
.main {
  color: white;
  text-align: center;
}
.main--heading {
  margin-bottom: 15px;
  text-shadow: 0 0 10px black;
}
.main--subheading {
  text-shadow: 0 0 10px black;
}
.button {
  margin-top: 50px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: rgb(131, 99, 79);
  padding: 8px 16px;
  border-radius: 1000px;
  display: inline-block;
}
.button:hover {
  background-image: radial-gradient(
    circle at 50% 50%,
    hsl(25, 26%, 35%) 1%,
    rgb(59, 48, 41) 1%
  );
  background-size: 20000% 20000%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: background-size ease-in 0.3s;
}
.button:hover:active {
  transition-duration: 0s;
  background-size: 100% 100%;
}
/* Keyframes *************************************************************** */
@keyframes move-plane-horizontal {
  0% {
    transform: translateX(-60vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0.9;
  }
}
@keyframes move-plane-vertical {
  0%,
  100% {
    transform: translate(0, 0vh);
  }
  25%,
  75% {
    transform: translate(0, 3vh) scale(1.02);
  }
  50% {
    tansform: translate(0, 6vh) scale(1.05);
  }
}
