* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  background-image: url("../img/pexels-pixabay-45230.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Dosis", sans-serif;
}
/* Class-Selectors ******************************************************************************/
.logo {
  max-width: 200px;
  margin-top: 50px;
  margin-bottom: 65px;

  animation: move-plane-horizontal 7s ease-in-out 0s 1 both,
    move-plane-vertical 6s linear 7s infinite;
}
.body {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.625);
}
.header {
  text-align: center;
}
.main {
  color: white;
  text-align: center;
}
.main--heading {
  margin-bottom: 20px;
}
.button {
  margin-top: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: rgb(135, 111, 96);
  padding: 8px 16px;
  border-radius: 1000px;
  display: inline-block;
  transition: background-color 0.5s, color 1s;
}
.button:hover {
  background-color: rgb(24, 19, 17);
  color: rgb(249, 216, 83);
}
/* Keyframes *************************************************************** */
@keyframes move-plane-horizontal {
  0% {
    transform: translateX(-60vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0.9;
  }
}
@keyframes move-plane-vertical {
  0%,
  100% {
    transform: translate(0, 0vh);
  }
  25%,
  75% {
    transform: translate(0, 1.5vh) scale(1.02);
  }
  50% {
    tansform: translate(0, 3vh) scale(1.05);
  }
}
